* {
    transition: 1s;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    font-size: 14px;
    height: 100vh;
    background-image: url(../img/senafondo3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Reducido tamaño de fuente global */
}

#logout {
    background-color: red;

    color: white;
}

.contents {

    overflow: auto;
    height: 95%;
    /* background-color: red; */
    /* margin-left: 220px; */
    /* Ajustar el margen según el nuevo ancho del sidebar */
    padding: 15px;
    /* Padding reducido */
}

.navbar {
    /* background-color: rgba(255, 255, 255, 0.486) !important; */
    /* margin-left: 220px; */
    /* Ajustar el margen según el nuevo ancho del sidebar */
    font-size: 14px;
    /* Tamaño de fuente reducido */
}


.gallery {
    display: grid;
    justify-items: center;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    /* Ahora se mostrarán 3 columnas */
    grid-gap: 20px;
    padding: 20px;
    /* background-color: #fff; */
    /* backdrop-filter: blur(5px); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    /* max-width: 900px; */
}

.gallery-item {
    box-sizing: border-box;
    display: none;
    /* Ocultamos todas las publicaciones inicialmente */
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    /* Inicialmente, las publicaciones están ocultas */
    padding: 20px;
    background-color: #fafafaa1;
    background-color: rgba(255, 255, 255, 0.815);
    backdrop-filter: blur(5px);
    text-align: center;
}

.gallery-item.active {
    display: block;
    /* Mostramos solo las publicaciones activas */
    opacity: 1;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.description {
    margin: 15px 0;
    font-size: 1rem;
    color: #333;
}

.solicitar-btn {
    padding: 10px 20px;
    background-color: var(--color-base);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.solicitar-btn:hover {
    background-color: #0056b3;
}

.gallery-item.active:hover {
    transform: scale(1.05);
}

.navbar-custom {
    background-color: white;
    /* border-bottom: 2px solid #0056b3; */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: black;
}

.navbar-custom .nav-link:hover {
    color: #d4e6ff;
}

.navbar-custom .btn-outline-light {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

.navbar-custom .btn-outline-light:hover {
    color: #007bff;
    background-color: white;
}

#noResults {
    display: none;
    /* Inicialmente oculto */
    margin-top: 20px;
    padding: 15px;
    background-color: #f8d7da;
    /* Color de fondo ligero para el mensaje de error */
    color: #721c24;
    /* Color del texto */
    border: 1px solid #f5c6cb;
    /* Borde colorido */
    border-radius: 5px;
    /* Bordes redondeados */
    text-align: center;
    /* Centra el texto */
    font-size: 16px;
    /* Tamaño de fuente */
    font-weight: bold;
    /* Fuente en negrita */
}