<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nombre}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/disponibles.css">
    <link rel="stylesheet" href="../static/css/root.css">
    <link rel="icon" href="../static/img/logosenanegro.svg" type="image/png">
    <link rel="shortcut icon" href="../static/img/logosenanegro.svg" type="image/png">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>


                </ul>
                <form class="d-flex" onsubmit="return false;">
                    <input class="form-control me-2" type="search" id="searchInput" placeholder="Search"
                        aria-label="Search" style="font-size: 14px;" oninput="filterGallery()">
                    <button class="btn btn-outline-light" type="submit" style="font-size: 14px;">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <script>
        function filterGallery() {
            const input = document.getElementById('searchInput');
            const filter = input.value.toLowerCase();
            const galleryItems = document.querySelectorAll('.gallery-item');
            let hasResults = false; // Variable para controlar si hay resultados

            galleryItems.forEach(item => {
                const description = item.querySelector('.description').textContent.toLowerCase();
                if (description.includes(filter)) {
                    item.style.display = ''; // Muestra el elemento
                    hasResults = true; // Hay al menos un resultado
                } else {
                    item.style.display = 'none'; // Oculta el elemento
                }
            });

            // Muestra o oculta el mensaje de "No existen resultados"
            const noResults = document.getElementById('noResults');
            noResults.style.display = hasResults ? 'none' : 'block';
        }


    </script>
    <!-- Contenido Principal -->
    <div class="contents">

        <div class="gallery">



            {% for bici in bicis %}
            <div class="gallery-item  active ">
                <img src="data:image/jpeg;base64,{{ bici[6] }}" alt="{{ bici[1] }}">
                <p class="description">{{ bici[1] }}</p> <!-- Marca -->
                <p class="description">Price: ${{ bici[3] }}</p> <!-- Tarifa -->
                <!-- Dentro del bucle que muestra las bicicletas -->
                <!-- <button class="solicitar-btn" onclick="solicitarAlquiler({{ bici[0] }})">Solicitar</button> -->

            </div>
            {% endfor %}


            <div id="noResults" style="display: none; margin-top: 20px;">No existen resultados.</div>
        </div>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>